@use "../util" as *;

.container {
  max-width: rem(1110);
  margin-inline: auto;
  padding-inline: rem(16);
}

.grid-container {
  @include breakpoint-up(medium) {
    display: grid;
    grid-template-areas:
      "hero hero posts"
      "hero hero posts"
      "topic1 topic2 topic3";
    column-gap: rem(30);
  }

  > * {
    min-width: 0;
  }
}

// Flexbox
.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-c {
    justify-content: center;
  }

  &-ai-c {
    align-items: center;
  }
}
